.App {
  text-align: center;
  /* width: 90%; */
  margin: 0 auto;
  /* background-color:#000000; */
  color: #000000;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* NavBar */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  /* background-color: #1e1e1e; */
}

.navbar-links {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  justify-content: space-between;
  letter-spacing: 1px;
}

.navbar-pic {
  max-width: 255px;
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}

.link {
  text-decoration: none;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: #000000;
  margin: 10px;
}

.link:hover {
  color: #a1a1a1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}

/* Contact Us Form */

.form-container {
  /* width: 100%; */
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  border: 1px solid#000000;
}

.contact {
  margin: 0 auto;
  width: 25%;
}

.form {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 1px solid#000000;
}

.form-input {
  margin: 1%;
}

.form-input-message {
  margin: 1%;
  height: 25%;
}

/* Our Story */

.our-story-container {
  margin-top: 75px;
  width: 100%;
}

.our-story-container h3 {
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 25px;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #000000;
  line-height: 41px;
  border: 4px solid #000;
  display: inline-block;
  padding: 10px 25px;
}

.our-story-container p {
  margin: 50px;
  text-align: left;
  line-height: 2em;
}

.parallax-bg {
  background-position: center center;
  height: 500px;
}

.parallax-h1 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 900;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Leadership */

.lea-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  
}

.lea-story {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 0 auto;
}

/* Brand Builders */

.bb-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
}

.bb-container p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.brand-h3 {
  font-size: 25px;
  margin-top: 75px;
  font-weight: 900;
  margin-bottom: 25px;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #000000;
  line-height: 41px;
  border: 4px solid #000;
  display: inline-block;
  padding: 10px 25px;
}

.bb-container-children {
  width: 29%;
  margin: 2% 2% 2% 2%;
  height: 300px;
}

.bb-container-children-last {
  width: 25%;
  padding: 2% 2% 2% 2%;
  height: 300px;
  margin: 2% auto;
}

.image {
  background-image: url('https://w.wallhaven.cc/full/0p/wallhaven-0p8vvj.jpg');
  background-position: cover;
}
